<div class="card border-secondary m-3" >
  <div class="card-header">Customers</div>
  <div class="card-body">
    <h4 class="card-title">
      <div class="row">
        <div class="col-8">
          Modification d'un client
        </div>
        <div class="col-4 text-end">
          <button [routerLink]="'/app/customers/list'" class="btn btn-outline-secondary pull-right" type="button" >
            <i class="bi bi-arrow-left"></i> Retourner à la liste
          </button>
        </div>
      </div>
    </h4>
    <div class="card-text">
      <customer-form
        *ngIf="!loading && !error"
        [customer]="customer"
        (formSubmit)="onFormSubmit($event)"
      />
    </div>
  </div>
</div>
